* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: rgb(6, 40, 61);
  position: fixed;
  top: 0;
  width: 100%;
}

a {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  color: white;
  float: left;
}

a:hover {
  background-color: rgb(3, 25, 39);
  opacity: 0.7;
}

.header {
  margin-top: 43px;
  border-bottom: 2px solid rgb(159, 211, 199);
  border-top: 2px solid rgb(159, 211, 199);
  padding: 30px;
  background-color: rgb(56, 81, 112);
  text-align: center;
  color: white;
}

.container-h2 {
  padding-bottom: 3px;
  border-bottom: 1px solid rgb(189, 186, 186);
  margin-bottom: 50px;
  margin-left: 20%;
  margin-right: 30%;
}

.container-h3 {
  padding-bottom: 3px;
  border-bottom: 1px solid rgb(189, 186, 186);
  margin-left: 20%;
  margin-right: 30%;
  opacity: 0.9;
}

.container-principal {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;
}

.container-seção1 {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;
}

.container-artigo1 {
  padding-left: 20%;
  padding-right: 30%;
}

.container-tabela {
  float: right;
  margin-top: 30px;
  text-align: center;
  padding-right: 60px;
}

table {
  margin: 20px;
  border-collapse: collapse;
  width: 100%;
  border: 3px solid #f2f2f2;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.container-artigo2 {
}

footer {
  padding: 30px;
  border-top: 1px solid rgb(160, 153, 153);
  background-color: rgb(209, 202, 202);
}
